$white:#fff;
$footer-color:#F1F1F1;
$main-yeallow:#FCD77C;
$main-yeallow2:#F5F1EA;
$more-equipment:#FFE788;
$about-cz-bg:#F9F9F9;
$main-gray:#7E7E7E;
$body-font-color:#707070;
$deep-dark:#393939;
$banner-bg1:#EAECF1;
$banner-bg2:#FFFFFF;
$banner-bg3:#FFFFFF;

$footer-nav-link:#AB8F4A;
$footer-p-info:#877961;
$steProcess-span:#F6EDD8;